//Попап
.popup-enter {
  opacity: 0;
};

.popup-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
};

.popup-exit {
  opacity: 1;
};

.popup-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
};

//Анимация снизу вверх
.edit-enter {
  transform: translateY(100%);
};

.edit-enter-active {
  transform: translateY(0%);
  transition: transform 500ms ease-in;
};

.edit-exit {
  transform: translateY(100%);
  transition: transform 500ms ease-in;
};

.edit-exit-active {
  transform: translateY(100%);
};
